body {
  font-family: sans-serif;
  padding: 20px;
  text-align: center;
}

button, input {
  width: 90%;
  max-width: 350px;
  padding: 16px;
  font-size: 1.4rem;
  margin: 10px 0;
  border-radius: 10px;
}

button {
  background: #2196F3;
  color: white;
  border: none;
}
